extends ../index
block contentPage
    TABLE
        DIV
            FORM(method= "POST", action ="/loginProcess")
                TR
                    TD
                        FONT(size= "5")
                            |   A
                        |ccount : 
                        INPUT(name= "account", value= "#{ account }")
                    TD(rowspan= '2')
                        INPUT(type="submit", value= "Login")
                TR
                    TD
                        FONT(size= "5")
                            |   P
                        |assword : 
                        INPUT(name= "password", type= "password")
                - if (typeof error !== "undefined")
                    TR
                        TD(colspan= '2')
                            |   Error : 
                            |   #{ error }
                        