extends layout
block content
    center
        h1= title
        table
            tr
                td(width=200)
                    ul
                        - for ( var i = 0; i < menu.names.length; i++ )
                            <li><a href="#{menu.urls[i]}">#{menu.names[i]}</a></li>
                td
                    block contentPage
            tr
                td
                td
        p Welcome to #{title}